.head_search {
    height: 40/360 * 100vw;
    background: #ff0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;

    .logo {
        font-size: 50/360 * 100vw;
        color: #fff;
    }

    .search {
        flex: 1;
        background: rgba(256, 256, 256, 0.5);
        padding: 5px 20px;
        margin: 0 20px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        border-radius: 50px;
    }

    .geren i {
        font-size: 30px;
        color: #fff;
    }
}